* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100%;
  
}

nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: black;
  color: white;
  position: fixed;
}

.lista {
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  order: 2;
  margin-right: 5em;
}

.lista li {
  text-align: center;
  margin: 0.9em;
  font-size: 2em;
}
.Logo {
  order: 1;
  width: 30%;
  height: 100%;
  background-color: black;
  border: 2px solid red;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title {
  text-align: center;
  font-size: 2.9em;
}

.fondo {
  height: 100%;
  width: 100%;
}

.Noticias-container {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 50% 50%;
  justify-content: center;
  align-items: center;;
  color: blueviolet;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 7% 71% 12%;
  cursor: pointer;
  border: 2px solid grey;
  justify-content: center;
  align-items: center;
}

.h1-card {
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  grid-row: 1;
  background-color: black;
}
.sub-text {
  width: 100%;
  height: 100%;
  text-align: center;
  flex-wrap: wrap;
  grid-column: 1;
  grid-row: 2;
  color: white;
  background-color: blue;
}

.a-card {
  width: 100%;
  height: 100%;
  grid-area: 3/ 1 / 4/ 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.img-card {
  width: 80%;
  height: 90%;
  border: solid 2px black;
  grid-area: 3/ 1 / 4/ 1;
}

h2 {
  text-align: center;
  color: black;
}
.texto-card {
width: 100%;
height: 100%;
color: white;
text-align: center;
font-size: 1.5em;
grid-column: 1;
grid-row: 4;
background-color: black;

}

footer{
  width: 98.8vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  background-color: red;
  
  
}


.icono{
width: 100%;
height: 100%;


}

h3{
  font-size: 1.5em;
}

.icons a{
  margin: 1.5em;
  width: 2%;
  height: 60%;
  
}

.a-card2{
  width: 100%;
  height: 100%;
  background-color: black;
  grid-column: 1;
grid-row: 4;
text-decoration: none;
color: white;
}