@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap");

body {
  margin: 0px;
  padding: 0px;
}

header {
  display: block;
}

.container-menu {
  width: 100vw;
  height: 10vh;
  display: flex;
  
  background-color: #de9ae8;
  border: 2px solid #bd34d1;
  box-sizing: border-box;
  margin-top: 10px;
  position: absolute;
  top: 0;
  
}

.menu-nav {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
 
}


.nav-buttons {
  
  height: 3vh;
  
  font-size: 2em;
  font-family: "Balsamiq Sans", cursive;
  
  
}

a {
  text-decoration: none;
  color: white;
}

.container-logo
{
  display: inline-block;
  width: 20vw;
  height: 100%;

  left: 0;
}

.logo-cof {
  width: 12vw;
  height: 100%;
  background-color: black;
  z-index: 100;
  left: 0;
  text-align: center;
  border-right: 2px solid #bd34d1;
  display: inline-block;
}

.logo-name {
  font-family: "Balsamiq Sans", cursive;
  font-size: 2em;
  color: white;
  margin-top: 12%;
  padding-right: 5%;
}


}
