@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}

header {
  margin-bottom: 5em;
  padding: 100px 0px;
  min-height: 90%;
  width: 100%;
  background-image: url(https://blogsimages.adobe.com/creative/files/2020/01/Jasmin-Curth-Fotolia_277964209_V_HD720.v2.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 1px 0px 20px 20px black inset;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 8vh;
  width: 100%;
}

.menu-nav {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 60px;
}

.navegador {
  width: 80%;
  height: 100%;
}

.navegador ul {
  float: right;
  padding-inline-start: 0px;
  font-family: "Odibee Sans", cursive;
  font-size: 1.8em;
  margin-right: 20px;
  margin-top: 24px;
  margin-block-end: 0;
}

.navegador ul li {
  display: inline-block;
  margin: 0 30px;
}

.logo {
  height: 100%;
  width: 25%;
  font-family: "Odibee Sans", cursive;
  font-size: 1.2em;
  display: inline-block;
  background-color: white;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
}

.botondecompra {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150;
}

input {
  background-color: white;
  height: 50%;
  width: 10%;
  border-radius: 20px;
}

.section1 {
  height: 100%;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 80%;
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 50fr);
  row-gap: 2em;
  box-sizing: border-box;
  box-shadow: 1px 0px 20px 10px #00ff11;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid black;

  display: grid;
  grid-template-columns: 60% 10% 40%;
  grid-template-rows: 100%;
}

.card2 {
  width: 100%;
  height: 100%;

  border: 2px solid black;
  display: grid;
  justify-content: start;
  align-items: flex-start;
  grid-template-columns: 40% 20% 60%;
  grid-template-rows: 100%;
}

.card2 .frase {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  background-color: white;
}

.card2 .imagen {
  width: 75%;
  height: 100%;
  grid-column: 2/4;
  z-index: 5;
  -webkit-box-shadow: -4px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card2 .imagen img {
  width: 100%;
  height: 100%;
}

.card3 {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 60% 20% 40%;
  grid-template-rows: 100%;
}

.imagen {
  width: 100%;
  height: 100%;

  z-index: 5;
  -webkit-box-shadow: 4px -1px 6px 3px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 4px -1px 6px 3px rgba(0, 0, 0, 0.72);
  box-shadow: 4px -1px 6px 3px rgba(0, 0, 0, 0.72);
}

.imagen > img {
  width: 100%;
  height: 100%;
}

.frase {
  width: 35%;
  height: 100%;
  grid-column: 3;
  grid-row: 1;
}

.frase > p {
  font-family: "Odibee Sans", cursive;
  font-size: 1.8em;
}

.section2 {
  height: 100%;
  width: 100%;
  margin-top: 5em;
}
.container-cards {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-flex {
  width: 25%;
  height: 70%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imagen-card {
  width: 90%;
  height: 60%;
}

.imagen-card img {
  width: 100%;
  height: 100%;
}

.frase-card {
  width: 90%;
  height: 40%;
  box-shadow: 1px 0px 20px 7px blueviolet;
  background-color: black;

  font-family: "Odibee Sans", cursive;
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frase-card > h3 {
 text-shadow: 1px 0px 10px#00ff11;
  color: white;
}
