@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    width: 100%;
  height: 100%;
  background-image: url(https://blogsimages.adobe.com/creative/files/2020/01/Jasmin-Curth-Fotolia_277964209_V_HD720.v2.gif);
  background-repeat: no-repeat;
  background-color: gray;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  box-shadow: 1px 0px 20px 20px black inset;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


body::before{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.15)),
        to(black)
      );
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
}

section{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  height: 90%;
  width: 70%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  height: 80%;
  width: 60%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  font-size: 2em;
  font-family: "Odibee Sans", cursive;
  background: rgb(250,34,245);
  background: linear-gradient(315deg, rgba(250,34,245,1) 11%, rgba(47,60,173,1) 49%, rgba(255,0,232,1) 91%);
border-radius: 0.5em 0.5em 0.5em 0.5em;
border: 3px solid black;
box-shadow: 0px -1px 10px 10px rgb(126, 4, 240);
}

.list  li{
  margin: 0.5em 0.5em;
}
.list li > input{
 background-color: black;
  width: 15em;
  height: 5em;
  text-align: center;
  font-size: 0.5em;
  margin-bottom: 18px;
  border: 2px solid black;
  border-radius: 10px;
  animation: turquesa-neon 2s infinite alternate;
  
  
}

 .list .pointer{
  content: '';
  cursor: pointer;
  background: black;
  color: white;
}

.list li a{
  text-decoration: none;
  color:white;
  text-shadow: 1px 10px 10px#000000;
}

h2{
  text-shadow: 1px 10px 10px#000000;
  color:white;
}


@keyframes turquesa-neon {
  0%,
  10%,
  15%,
  20%,
  30%,
  35%,
  40%,
  50%,
  55%,
  60%,
  70%,
  80%,
  85%,
  95%,
  100% {
    -webkit-box-shadow: 0px -1px 10px 5px rgb(255, 4, 130);
    -moz-box-shadow: 0px -1px 10px 5px rgb(255, 4, 130);
    box-shadow: 0px -1px 10px 5px rgb(255, 4, 130);
  }

  10%,
  15%,
  40%,
  60% {
    box-shadow: none;
    }
  }