.etiqueta2 {
    border: 4px solid black;
}

h1 {
    color: orangered;  
    
}
.etiqueta1 {
    color: black;
}
h2 {
    color: firebrick;
}

.email {
    border: 2px solid red;
}
.etiqueta3 {
    color: rgb(15, 181, 236);
}