@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  padding: 0px;
  margin: 0px;
}

header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Righteous", cursive;
}

.icono-logo {
  width: 30%;
  height: 100%;
  display: inline-block;
  background-color: black;
}

.menu-nav {
  background-color: black;
  width: 70%;
  height: 100%;
  display: flex;
  order: 2;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 30%;
  height: 100%;
  background-color: black;
}

.section1 {
  border: 4px solid black;
  background-color: blue;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}

.section2 {
  width: 100%;
  height: 50%;
  background-color: violet;
  box-sizing: border-box;
  border: 4px solid darkmagenta;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  width: 33%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: blue;
  flex-wrap: wrap;
}
div img {
  width: 33%;
  height: auto;
  margin: 10px;
  background-color: black;
}

.frase-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-family: "Righteous", cursive;
}

.section3 {
  width: 100%;
  height: 50%;
  background-color: red;
  box-sizing: border-box;
  border: 4px solid darkmagenta;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trabajos {
  width: 66%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: black;
  border: 4px solid white;
}

.trabajos .container-img {
  width: 80%;
  height: 95%;
  background-color: darkorchid;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.trabajos .container-img img {
  height: 39%;
  width: 40%;
  padding: 10px;
  background-color: white;
  border: 4px solid black;
  box-sizing: border-box;
}

.trabajos2 {
  width: 66%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start baseline;
  background-color: black;
  border: 4px solid white;
}

.trabajos2 .container-img {
  width: 80%;
  height: 95%;
  background-color: darkorchid;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start baseline;
}
.trabajos2 .container-img img {
  height: 30%;
  width: 40%;
  background-color: white;
  padding: 10px;
  border: 4px solid black;
}

.frase-card2 {
  display: flex;
  position: absolute;
  width: 30%;
  height: 20%;
  bottom: -620;
  justify-content: center;
  align-items: center;
  background: rgb(48, 42, 51);
  background: linear-gradient(
    90deg,
    rgba(48, 42, 51, 1) 0%,
    rgba(80, 58, 88, 1) 66%,
    rgba(28, 26, 28, 1) 100%
  );

  border: 2px solid black;
  font-family: "Righteous", cursive;
  border-radius: 25px;
}
