@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  padding: 0px;
  margin: 0px;
  background-color: #020111;
  font-family: "Righteous", cursive;
}

header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.menu-nav>a {
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Righteous", cursive;
}

.icono-logo {
  width: 30%;
  height: 100%;
  display: inline-block;
  background-color: black;
}

.menu-nav {
  background-color: black;
  width: 70%;
  height: 100%;
  display: flex;
  order: 2;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 30%;
  height: 100%;
  background-color: black;
}

.section1 {
  background: rgb(218, 101, 101);
  background: linear-gradient(300deg,
      rgb(209, 130, 203) 40%,
      rgb(25, 24, 26) 20%);
  width: 100%;
  height: 45%;
  font-family: "Righteous", cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.section1 h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

.section1-h2 {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin-block-end: 0;
}

.icons {
  width: 30%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}

links-redes {
  width: 3rem;
  height: 3rem;
}

.icons a>img {
  width: 3rem;
  height: 3rem;
}

.section2 {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}

.section2 .card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: black;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

.section2 .card:nth-child(1)::before {
  background: rgb(223, 244, 8);
  background: linear-gradient(164deg,
      rgba(204, 255, 0, 1) 44%,
      rgba(39, 255, 0, 1) 73%);
}

.section2 .card:nth-child(2)::before {
  background: rgb(250, 0, 0);
  background: linear-gradient(315deg,
      rgba(250, 0, 0, 1) 32%,
      rgba(244, 138, 8, 1) 57%,
      rgba(0, 255, 244, 1) 100%);
}

.section2 .card:nth-child(3)::before {
  background: rgb(34, 143, 250);
  background: linear-gradient(90deg,
      rgba(34, 143, 250, 1) 32%,
      rgba(244, 138, 8, 1) 57%,
      rgba(255, 252, 0, 1) 100%);
}

.card {
  width: 22%;
  height: 90%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid #000;
  background: rgb(2, 0, 46);
  background: linear-gradient(164deg,
      rgba(2, 0, 46, 1) 44%,
      rgba(7, 2, 103, 1) 73%);
}

.icon-img {
  width: 45%;
  top: 100px;
  right: 107px;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  transition: 0.5s;
}

div:hover .icon-img {
  top: -140px;
}

.frase-card {
  display: flex;
  width: 100%;
  height: 20%;
  margin-bottom: 43%;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  font-size: 1em;
  text-align: center;
  color: #fff;
}

.frase-h2 {
  position: relative;
  transition: 0.5s;
  margin-left: 5%;
  opacity: 0;
  text-align: center;
  visibility: hidden;
}

.card:hover .frase-card .frase-h2 {
  opacity: 1;
  visibility: visible;
}

.section3 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.section3>h1 {
  text-align: center;
  color: white;
}

.trabajos::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.15)),
      to(black));
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
 
}



.trabajos {
  width: 66%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid white;
  background-image: url(.//img/Fondo\ gif.gif);
  background-position: center;
  background-size: cover;
  
}


.trabajos > img {
  width: 4%;
  height: 10%;
  color: white;
}

.frase-card2 {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  position: relative;
}




.frase-card2>a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: rgb(102, 248, 102) 2px 2px 10px;
}